@charset "UTF-8";
:root {
  --page-bg-color: #f9f9fd;
  --primary-text-color: #212121;
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --primary-text-color: #2196F3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms linear, visibility 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms linear;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-right: 15px;
  padding-left: 42px;
  color: #212121;
  font-size: 14px;
  outline: transparent;
  transition: border 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border: 1px solid #2196f3;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .modal-input-icon, .modal-input:focus + .modal-input-icon {
  fill: #2196f3;
}

.modal-comment-text {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment-text:hover, .modal-comment-text:focus {
  border: 1px solid #2196f3;
}

.modal-check-text {
  display: flex;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal-check-text {
    text-align: left;
    align-items: center;
    font-size: 12px;
    line-height: 1.17px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }
}
@media (min-width: 1200px) {
  .modal-check-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 8px;
  }
}
@media (max-width: 1199px) {
  .modal-check-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 8px;
    margin-left: -13px;
  }
}
.modal-input-check:focus + .modal-check-text span {
  border-color: #2196f3;
}
.modal-input-check:checked + .modal-check-text span {
  background-color: #2196f3;
  border-color: transparent;
  fill: #ffffff;
}

.check-margin {
  margin-left: 12px;
}

.modal-check-link {
  color: #2196f3;
  margin-left: 2px;
  text-decoration: underline;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navigation {
  display: flex;
}
@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header__container {
    height: 60px;
  }
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.logo__navigation {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}
@media (max-width: 767px) {
  .logo__navigation {
    margin-right: auto;
  }
}

.logo-icon {
  color: #2196f3;
}

.menu {
  display: flex;
  margin-left: 93px;
}
.menu .link:hover, .menu .link:focus {
  color: #2196f3;
}

.header__connect {
  display: flex;
  text-decoration: none;
  font-family: "Roboto";
  margin-left: 344px;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
  fill: #757575;
}
@media (max-width: 767px) {
  .header__connect {
    display: none;
  }
}
@media (max-width: 1199px) {
  .header__connect {
    display: block;
    text-decoration: none;
    font-family: "Roboto";
    fill: #757575;
  }
}

.svg-header {
  margin-right: 5px;
}
@media (max-width: 1199px) {
  .svg-header {
    width: 14px;
    height: 10px;
  }
}

.auth-icon-link {
  text-decoration: none;
  fill: #757575;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-link:not(:last-child) {
  margin-bottom: 35px;
}

.mobile-contacts-tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 32px;
  margin-top: 32px;
}

.mobile-contacts-mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.menu .link:not(:last-child) {
  margin-right: 0;
}
.link:hover, .link:focus {
  color: #2196f3;
}
.menu .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu__mar {
  color: #212121;
  text-decoration: none;
  margin-right: 50px;
  position: relative;
}
@media (max-width: 1199px) {
  .menu__mar {
    margin-right: 38px;
    position: relative;
  }
}

.studio {
  color: #2196f3;
}

.current {
  color: #2196f3;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: "";
  position: absolute;
  bottom: -23px;
  right: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}

.connect__contact {
  margin-left: auto;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1199px) {
  .connect__contact {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.02em;
  }
}
@media (max-width: 767px) {
  .connect__contact {
    display: none;
  }
}
.connect .connect__contact:hover, .connect .connect__contact:focus {
  color: #2196f3;
  fill: #2196f3;
}

.page-header {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.page-header .container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: none;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 0 10px;
  color: black;
  text-decoration: none;
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.mobile-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid black;
}

.mobile-social-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  text-align: center;
  background: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-title.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
@media (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-title-tablet.jpg);
  }
}
@media (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-title-mob.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/imgheader-bg-x2.jpg);
  }
}

.hero-container {
  display: flex;
}

.hero__title {
  font-weight: 900;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  cursor: pointer;
  border-color: transparent;
  display: inline-block;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-order {
  border-color: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 11px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer-button-wrap {
  position: relative;
}

.footer-button-submit {
  border-color: transparent;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: #2196f3;
  border-radius: 4px;
  outline: none;
  width: 200px;
  height: 50px;
  text-decoration: none;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .footer-button-submit {
    margin: 0 auto;
    margin-top: 20px;
  }
}

.footer-button-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  fill: #ffffff;
}

.button-modal-submit {
  border-color: transparent;
  cursor: pointer;
  display: inline-block;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 10px 52px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.job-title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 16px;
  padding-bottom: 0;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.32;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.67;
    margin-bottom: 50px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .footer-title {
    text-align: center;
  }
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 0;
  color: #212121;
}

.modal-lable-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
  display: block;
}

.section-pic {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section-pic {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.top-icons-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .top-icons-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .top-icons-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .top-icons-item {
    width: 270px;
  }
}

.top-icons-link {
  height: 120px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
}

.section-mid {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.images {
  display: flex;
}

.images-pic {
  margin-right: 30px;
}

.images-middle {
  position: relative;
}

.images-middle-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  background-color: #ffffff;
  color: #212121;
}

/* Замовити послугу */
/* Bg */
/* Section bg */
.team {
  background: #f5f4fa;
}

/* Description */
.description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .description {
    text-align: center;
  }
}

.meaning {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.card-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.soc-icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-icons-item {
  width: 44px;
  height: 44px;
}

.soc-icons-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: background-color 250ms linear, fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icons-link:hover, .soc-icons-link:focus {
  color: #2196f3;
  background-color: #2196f3;
  fill: #ffffff;
}

/* Чим ми займаємося */
@media screen and (min-width: 768px) {
  .staff-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.top-icons-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .card-bg:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .card-bg {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card-bg {
    width: 270px;
  }
}

.card-bg {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.any-project {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.staff-name {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 9px;
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 479px) {
  .clients-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.clients-item {
  height: 92px;
}
@media screen and (min-width: 480px) {
  .clients-item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: 170px;
  }
}

.clients-link {
  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: background-color 250ms linear, fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
  background-color: #ffffff;
  fill: #2196f3;
}

.footer-logo {
  padding-top: 60px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .footer-icons {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .footer-mar-icons {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-mar-icons {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mar-icons {
    margin-right: 70px;
  }
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
  margin-top: 0;
}

.contact-footer {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.contact-foot {
  margin-bottom: 9px;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-icons-item {
  width: 44px;
  height: 44px;
}

.footer-icons-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms linear, fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-link:hover, .footer-icons-link:focus {
  color: #2196f3;
  background-color: #2196f3;
  fill: #ffffff;
}

.form-footer {
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .form-footer {
    margin-top: 60px;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-online-form {
    display: flex;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px;
  color: #ffffff;
  margin-right: 12px;
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.end {
  margin-top: 20px;
  margin-bottom: 9px;
}

.sec-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.reset-portfolio {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  margin-right: 8px;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.bg-portfolio {
  background: #FFFFFF;
  transition: box-shadow 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bg-portfolio:hover, .bg-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.top-portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.bg-portfolio-img {
  text-decoration: none;
}

.top-portfolio-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #FFFFFF;
  margin: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.bg-portfolio:hover .top-portfolio-text, .bg-portfolio:focus .top-portfolio-text {
  transform: translateY(0);
}

.types-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
  width: 1170px;
}

.project {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 4px;
}

.type-project {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */