@charset "UTF-8";
:root {
  --page-bg-color: #f9f9fd;
  --primary-text-color: #212121;
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --primary-text-color: #2196F3;
}

*, ::after, ::before {
  box-sizing: border-box;
}

/* Body */
ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: var(--primary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms linear, visibility 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-right: 15px;
  padding-left: 42px;
  color: #212121;
  font-size: 14px;
  outline: transparent;
  transition: border 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border: 1px solid #2196F3;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .modal-input-icon, .modal-input:focus + .modal-input-icon {
  fill: #2196F3;
}

.modal-comment-text {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment-text:hover, .modal-comment-text:focus {
  border: 1px solid #2196F3;
}

.modal-check-text {
  display: flex;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
}
.modal-check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
}
.modal-input-check:focus + .modal-check-text span {
  border-color: #2196F3;
}
.modal-input-check:checked + .modal-check-text span {
  background-color: #2196F3;
  border-color: transparent;
  fill: #FFFFFF;
}

.check-margin {
  margin-left: 12px;
}

.modal-check-link {
  color: #2196F3;
  margin-left: 2px;
  text-decoration: underline;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navigation {
  display: flex;
}

.header__container {
  display: flex;
  align-items: center;
}

.header {
  background: #ffffff;
  border: 1px solid #ECECEC;
}

.logo__navigation {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo-icon {
  color: #2196F3;
}

.menu {
  display: flex;
  margin-left: 93px;
}
.menu .link:hover, .menu .link:focus {
  color: #2196F3;
}

.header__connect {
  display: flex;
  text-decoration: none;
  font-family: "Roboto";
  margin-left: 344px;
  margin-left: auto;
  gap: 50px;
  fill: #757575;
}

.auth-icon-link {
  text-decoration: none;
  fill: #757575;
}

.menu .link:not(:last-child) {
  margin-right: 50;
}
.menu .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu__mar {
  margin-right: 50px;
  position: relative;
}

.current {
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
}

.svg-header {
  margin-right: 10px;
}

.connect__contact {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect .connect__contact:hover, .connect .connect__contact:focus {
  color: #2196F3;
  fill: #2196F3;
}

.hero {
  text-align: center;
  background: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Imghero-title.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
}

.hero__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 6px 22px;
  background: #F5F4FA;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-order {
  display: inline-block;
  padding: 11px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer-button-wrap {
  position: relative;
}

.footer-button-submit {
  display: inline-block;
  background: #2196F3;
  border-radius: 4px;
  outline: none;
  width: 200px;
  height: 50px;
  text-decoration: none;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-button-icon {
  position: absolute;
  left: 148px;
  top: 50%;
  transform: translateY(-50%);
  fill: #FFFFFF;
}

.button-modal-submit {
  display: inline-block;
  background-color: #2196F3;
  border-radius: 4px;
  padding: 10px 52px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.job-title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 16px;
  padding-bottom: 0;
}

.contacts-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  margin-top: 0;
}

.footer-logo-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-footer-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 0;
  color: #212121;
}

.modal-lable-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
  display: block;
}

.top-icons-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.top-icons-item {
  width: calc((100% - 90px) / 4);
}

.top-icons-link {
  height: 120px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
}

.feature-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.feature-list .item {
  width: 270px;
}

.section-mid {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.item {
  margin-right: 30px;
}
.feature-list .item:last-child {
  margin-right: 0;
}

.images {
  margin-left: auto;
  margin-right: auto;
}

.images-pic {
  margin-right: 30px;
}

.images-middle {
  position: relative;
}

.images-middle-text {
  position: absolute;
  padding: 27px;
  top: 211px;
  width: 370px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

.page {
  background-color: #ffffff;
  color: #212121;
}

/* Замовити послугу */
/* Bg */
/* Section bg */
.section-pic {
  padding-bottom: 94px;
}

.section-bg {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Description */
.description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10;
}

.meaning {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 0;
}

.card-bg {
  margin-right: 30px;
  background: #FFFFFF;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.soc-icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-icons-item {
  width: 44px;
  height: 44px;
}

.soc-icons-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: background-color 250ms linear, fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icons-link:hover, .soc-icons-link:focus {
  color: #2196F3;
  background-color: #2196F3;
  fill: #FFFFFF;
}

/* Чим ми займаємося */
.staff {
  margin-left: auto;
  margin-right: auto;
}

.any-project {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.staff-name {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 9px;
}

.contacts-sec {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-link {
  height: 100%;
  width: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: background-color 250ms linear, fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196F3;
  background-color: #ffffff;
  fill: #2196F3;
}

.footer-logo {
  padding-top: 60px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-icons {
  display: flex;
}

.footer-mar-icons {
  margin-right: 70px;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 9px;
  margin-top: 0;
}

.contact-footer {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.contact-foot {
  margin-bottom: 9px;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-icons-item {
  width: 44px;
  height: 44px;
}

.footer-icons-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms linear, fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-link:hover, .footer-icons-link:focus {
  color: #2196F3;
  background-color: #2196F3;
  fill: #FFFFFF;
}

.form-footer {
  margin-left: 93px;
}

.footer-online-form {
  display: flex;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px;
  color: #ffffff;
  margin-right: 12px;
}

.end {
  margin-top: 20px;
  margin-bottom: 9px;
}

.sec-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.reset-portfolio {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  margin-right: 8px;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.bg-portfolio {
  background: #FFFFFF;
  transition: box-shadow 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bg-portfolio:hover, .bg-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.top-portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.bg-portfolio-img {
  text-decoration: none;
}

.top-portfolio-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #FFFFFF;
  margin: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.bg-portfolio:hover .top-portfolio-text, .bg-portfolio:focus .top-portfolio-text {
  transform: translateY(0);
}

.types-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
  width: 1170px;
}

.project {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 4px;
}

.type-project {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */