.contacts-sec {
    padding-bottom: 94px;
    padding-top: 94px;
}


.clients-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.clients-item {
    width: calc((100% - 150px) / 6);
    height: 92px;
}

.clients-link {
    height: 100%;
    width: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    transition: background-color 250ms linear, fill 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border: 1px solid #2196F3;
    background-color: #ffffff;
    fill: #2196F3;
    }
}

