.clients-list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 479px) {
  .clients-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.clients-item {
  height: 92px;
  @media screen and (min-width: 480px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients-link {
  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: background-color 250ms linear, fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    background-color: #ffffff;
    fill: #2196f3;
  }
}
