.hero {
  @media (min-width: 1200px) {
    padding: 200px 0;
  }
  text-align: center;
  background: #2f303a;
  max-width: 1600px;

  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/Imghero-title.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/imgheader-bg-x2.jpg);
    }
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
}

.hero__title {
  font-weight: 900;

  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  @media screen and (max-width: 1199px) {
    max-width: 360px;
    font-size: 26px;
    line-height: 42px;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
